---
Language:                                       Cpp
BasedOnStyle:                                   LLVM
IndentWidth:                                    4
TabWidth:                                       4
UseTab:                                         ForIndentation
Standard:                                       Cpp11
FixNamespaceComments:                           true
NamespaceIndentation:                           All
AccessModifierOffset:                           -4
AlignAfterOpenBracket:                          Align
AlignEscapedNewlines:                           DontAlign
AlignTrailingComments:                          true
AllowShortCaseLabelsOnASingleLine:              true
AllowShortFunctionsOnASingleLine:               InlineOnly
BreakConstructorInitializersBeforeComma:        true
RemoveSemicolon: true
InsertBraces: true
InsertNewlineAtEOF: true

# We have to to set BeforeLambdaBody = false, because in other case it makes incorrect indention
BreakBeforeBraces:                              Custom

BraceWrapping:
  AfterEnum:                                    true
  AfterStruct:                                  true
  AfterCaseLabel:                               true
  AfterClass:                                   true
  AfterControlStatement:                        Always
  AfterFunction:                                true
  AfterNamespace:                               true
  AfterUnion:                                   true
  AfterExternBlock:                             true
  BeforeElse:                                   true
  BeforeCatch:                                  true
  SplitEmptyFunction:                           false
  IndentBraces:                                 false

AllowShortLambdasOnASingleLine:                 Inline
ColumnLimit:                                    0
PointerAlignment:                               Left
SpaceAfterTemplateKeyword:                      false
SpacesInAngles:                                 false
ContinuationIndentWidth:                        4
IndentCaseLabels:                               true
IncludeBlocks:                                  Merge
IncludeCategories:
  - Regex:    '.*\.generated\.h'
    Priority: 2
  - Regex:    '.*'
    Priority: 1
...
